body{
    
    
    width:100%;
    
}

    .container {
        display: table;
        background: #1C1210;
        color:#fff;
    font-size:24px;
        width: 100%;
        margin:auto -8px;
        line-height: 50px;
      }