@import url('https://fonts.googleapis.com/css?family=Patua+One');

 %buttonClass{  
        font-family: "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;
        background:#301009;
        color: #FFFFFF;
        display: inline-block;
        font-size: 16px;
        padding: 8px 20px;
        text-align: center;
        border: 0px;
        outline:0;
        width: 130px;
        font-weight: bold;
}

%buttonSecondaryClass{
      font-family: "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
      text-transform: none;
      background: #35210b;
      border-radius: 5px;
      color: #ffffff;
      cursor: pointer;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.5;
      line-height: 1.25;
      padding: 6px 20px;
      display: inline-block;
      border: 1px solid #734547;
      border-radius: 2px;
      outline:0;
      width: 130px;
      font-weight: bold;
}

%submitBookBtnClass{
      font-family: "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
      text-transform: none;
      background: orangered;
      color: #ffffff;
      cursor: pointer;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.5;
      line-height: 1.25;
      padding: 5px 20px;
      display: inline-block;
      border: 0px;
      outline:0;
      border-radius: 3px;
}
%disableSunBtn{
      opacity: 0.5;
      pointer-events: none;
      font-family: "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
      text-transform: none;
      background: orangered;
      color: #ffffff;
      cursor: pointer;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.5;
      line-height: 1.25;
      padding: 5px 20px;
      display: inline-block;
      border: 0px;
      outline:0;
      border-radius: 3px;
}

%input_formClass{
      font-family: "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.5;
      text-align: left;
      text-indent: 0;
      text-shadow: none;
      text-transform: none;
      background: #FFFFFF;
      border: solid 1px #D7D7D7;
      border-radius: 5px;
      color: #000000;
      font-weight: bold;
      display: block;
      font-size: 16px;
      margin: 0 0 8px;
      padding: 8px 12px;
      width: 70%;
      margin:3% 13%;

}
%flexOneReturn{
  //flex:1;
  width:33.3%;
  float:left;
  display:inline;
  font-weight: bolder;
  line-height: 25px;
  .flightNo{
    font-size:14px;
  }
  .flightFromTo{
    font-size:18px;
    font-weight: 550;
    margin-bottom:5px;
  }
  font-size:16px;
}

section.Result-container{
 // display:flex;
  font-family: 'Patua One', cursive;
  div.left-half{
        width:30%;
        height:93vh;
        float: left;
        display: inline;
        text-align: center;
        background: #441208;
        aside{
          padding-top:70px;
          .onereurn-btn{
            display: inline;
          }
              .tw-form__input {
                  @extend %input_formClass;      
              }
              .button{  
                @extend %buttonClass;
              }        
              .button-seconday{
                @extend %buttonSecondaryClass;      
              }        
              .sumit-btn{
                @extend %submitBookBtnClass;
              }      
              .disableSunBtn{
                @extend %disableSunBtn;
              }
              div.ngxmdp div.selector {
                position: absolute !important;
                left: 100px !important;
                top: 219px !important;
              }
              ngx-my-date-picker{
                position: absolute !important;
              }
        }
  }
  div.right-half{ 
      width:70%;
      height:93vh;     
      background:#FAFAFA;
      color:#454545;
      float: left;
      display: inline;

      .bgImg{
          background-image: url('../../assets/images/sun2.jpg');
          min-height: 93vh;
          background-repeat: no-repeat;
          background-size: cover;
          object-fit: contain;
          img{
            margin-top: 20%;margin-left: 20%
          }
      }
      div.shadowHead{
              margin:10px;
              padding: 20px 5px 5px 15px;
              border-bottom: 3px solid #DFDFDF;;
              height:50px;
              display: -webkit-flex;
              display: flex;
        .flex1 {
              -webkit-flex: 1;
              flex: 1;
              justify-content: flex-start;
              align-self:center;
              font-size: 24px;
              font-weight: bold;
        }
        .flex2 {
              -webkit-flex: 1;
              flex: 1;
              text-align: right;
              font-size:14px;
              line-height: 20px;
              padding: 10px 0px 0px 0px;
              font-weight: 550;
        }
      }

      div.resultCard{
        margin:10px;
        padding: 20px 10px 5px 0px;
        border-radius:5px;
        border:2px  solid #DFDFDF;
        display: flex;
        flex-direction:column;
        div.priceRow{
          font-size: 24px;
          font-weight: bold;
          padding: 5px 20px;
        }
        div.flexTourDetails{
          //display: flex;
          width:100%;
          flex-flow: row wrap;
          justify-content: space-around;
          padding: 15px 20px 5px 20px;

          div.flexOneWay{
           @extend %flexOneReturn;
          }
          div.flexReturn{
            @extend %flexOneReturn;
          }
          div.flexBookticket{
             // flex: 1;
              width:33.3%;
              float:left;
              display:inline;
              text-align: center;
              .bookTicket-btn{
                @extend %submitBookBtnClass;
                text-transform: uppercase;
              }
          }

        }
      }
      div.resultCard:hover{
        background: #F3F2F2;
      }
      div.showNoFlightResult{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:30%;
        div{
          margin-top:40px;
          line-height: 20px;
          text-align: center;
          p{
            font-weight: bold;
            color:#AB6565;
          }
        }
      }
  }
}

@media only screen and (max-width: 500px) and (max-width:767px){
  .Mob-Only{
    display:inline;
  }
  section.Result-container{
      div.left-half{
        width:100%;
        height: 500px;
        aside{
          padding-top:40px;
        }
      }
      div.right-half{
        width:100%;
        min-height:300px;
        div.bgImg{
          img{
            width:270px;
          }
        }
        div.resultCard{
          padding: 20px 0px 5px 0px;
          div.priceRow{
            border-bottom: 2px solid #ccc;
            span{
              font-size:18px;
              float:right;
              img{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid #ccc;
                vertical-align: bottom;
              }
            }
          }
          div.flexTourDetails{
            width: 99%;
            padding: 15px 3px 5px 2px;
            div.flexOneWay{
              width:50%;
            }
            div.flightNo{
              width:50%;
            }
            div.flexBookticket{
              width:100%;
            }
          }
        }
      }
      div.showNoFlightResult{
        div{
          margin-top:10px;
          line-height: 20px;
          text-align: center;
        }        
      }
  }
  %disableSunBtn, %submitBookBtnClass,%submitBookBtnClass{
    width: 76%;
    margin: auto 13%;
  }
  .Desk-Only{
    display:none;
  }
}
@media only screen and (min-width: 501px) {
  .Mob-Only{
    display:none;
  }
}
@media only screen and (max-width: 768px) and (max-width:1023px) and (orientation: portrait){
  section.Result-container{
    div.left-half{     
      aside{
        padding-top:40px;
      }
      aside > div{
        button{
          margin: 4px;
          }
        }
    }    
    div.right-half{
      div.bgImg{        
        img{
          width:300px;
        }
      }
    }
  }
}
@media only screen and (max-width:1024px) and (orientation: portrait){
  section.Result-container{
    div.left-half{     
    }
    div.right-half{
      div.bgImg{   
          
        img{
          //width:300px;
          margin-left:10%;   
        }
      }
    }
  }
}